
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="l2 p-b-30" style="font-weight: 700; text-align: center; margin-top: 100px; color: green">
    ĐẶT HÀNG THÀNH CÔNG
</h3>
<h5 class="l2 p-b-30" style="font-weight: 700; text-align: center; margin-top: 10px; color: green">
    Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ gửi đơn hàng cho bạn sớm nhất !
</h5>
