
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAuthorize</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            transform: translateY(24vh);
        }
        .not-authorize {
           
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="not-authorize">BẠN KHÔNG CÓ QUYỀN TRUY CẬP TRANG NÀY !</h1>
    </div>
</body>
</html>
